*ipynb_checkpoints*
*_master.ipynb
*_solution.ipynb
*session_*
*exercise_template.ipynb


!material/session_1/
!material/session_2/
!material/session_3/
!material/session_4/
!material/session_5/
!material/session_6/
!material/session_7/
!material/session_8/
!material/session_9/
!material/session_11/
*getWeather.py
